body {
background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(pics/cover.jpg);
background-color:rgba(0,0,0,0.1);
font-family: Arial;
background-size: contain ;
margin: 0 auto;
padding: 0;
}

.polar
{
  height: 70px;
  width: 75px;
  float:left;
  margin-top: 10px;
  padding-bottom: 20px;
}
#id
 {
   width: 100%;
   position: fixed;top: 0px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   list-style-type: none;
   margin: 0;
 overflow: hidden;
   background-color:#fff;
   border-radius:0px;
   margin-bottom:50px;
   border-bottom: solid white 1px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


li
 {
  float: left;
  padding-left: 10px;
  font-size: 20px;
  padding: 20px;
}

li a
 {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  padding-top: 14px;
  text-decoration: none;

}

li a:hover
{
  background-color: #111;
}
.Search
{
  float: right;
  padding: 20px;
  margin-top: 15px;
  margin-right: 40px;
  border: none;
  font-size: 17px;
}
.leftcolumn {
    width: 75%;
}

.row:after {
content: "";
display: table;
clear: both;
}
.card {
  position: static;
  background-color: #f2f3f4;
  opacity: 1;
  padding: 20px;
  margin-top: 200px;
  border-radius: 10px;
  height:300px;
  width:75%;
}
h3{
border-bottom: 1px solid black;
}



.l{
float: left;

}
.u {
  list-style-type: none;
  margin: 0;
  padding: 0;
overflow: hidden;
  background-color: #333;
  border-radius:5px;
  margin-bottom:60px;
  height: 200px;

}
.l a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float:left;

}

footer
 {

  list-style-type: none;
  margin: 0;
  padding: 80px 0 50px;
  overflow: hidden;
  background-color: #cccccc;
  border-radius:0px;

}
p
{

  padding: 30px;
text-decoration: none;

}
a:link
{
  color:#111;
  text-align: center;
}
footer div
 {

    float: left;
    color: #fff;
}
footer
{
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 4rem;
  padding-top: 30px;
  border-bottom: 1px solid #1b1b1b;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:lighter;
  padding:60px;
  margin-top: 150px;
  border-top: 1px solid black;
    }
