/*background*/
body {
background-image: linear-gradient(black,white);
margin: 0;
padding: 0;
font-family: Circular, Helvetica, Arial, sans-serif;


}

/*background*/


/*Nav*/
.polar
{
  height: 70px;
  width: 75px;
  float:left;
  margin-top: 10px;
  padding-bottom: 20px;
}
#id
 {
   list-style-type: none;
   margin: 0;
padding: 20px;
 overflow: hidden;
   background-color:#111;
   border-radius:0px;
   margin-bottom:50px;
   border-bottom: solid white 1px;
}


li
 {
  float: left;
  padding-left: 10px;
  font-size: 20px;
  padding: 20px;
}

li a
 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-top: 14px;
  text-decoration: none;
}

li a:hover
{
  background-color: #111;
}
.Search
{
  float: right;
  padding: 20px;
  margin-top: 15px;
  margin-right: 40px;
  border: none;
  font-size: 17px;
}
.h1
{
  font-size: 50px;
  margin-top: 70px;
  padding-top:40px;
}
}
/*Nav*/
/*Fortsätt med side bar sen*/
.row:after {
content: "";
display: table;
clear: both;
}
.Page {
background-color: #f2f3f4;
padding: 20px;
  border-radius:0px;
  height:1300px;

  ;

}
.Side{
  Float:right;
  width: 20%;
  padding-left: 20px;
  }

.ul{
float:left;
}
.Trending{
  float: right;
     list-style-type: none;
     margin: -20px;


}

/*Fortsätt med side bar sen*/

/*Page*/
.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color:#f2f3f4;
    padding-left: 20px;
}


.card {
  background-color: #f2f3f4;
  padding: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    height:300px;
    width:75%;
    margin: 20px;
}

/*Page*/
h3 {
border-bottom: 1px solid black;
}

/*Gallery*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float:left;
  width: 180px;
}

div.box{
  margin: 5px;
  border: 1px solid #ccc;
  float:left;
  width: 130px;

}

div.pic {
  margin: 5px;
  border: 1px solid #ccc;
  float:left;
  width: 120px;
  height: 120px;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: left;
  float: left;

}

div.des {
  padding: 30px;
  text-align: center;

}
/*Gallery*/
footer
 {

  list-style-type: none;
  margin: 0;
  padding: 80px 0 50px;
  overflow: hidden;
  background-color: #111;
  border-radius:0px;

}
p
{

  padding: 30px;
text-decoration: none;

}
a:link
{
  color:#cccccc;
  text-align: center;
}
footer div
 {

    float: left;
    color: #fff;
}
footer
{
  margin-left: 0px;
  margin-right: 0px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 4rem;
  padding-top: 30px;
  border-bottom: 1px solid #1b1b1b;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:lighter;
  padding:60px;
  margin-top: 150px;
  border-top: 5px solid black;
    }

/*Footer*/
