body {
background-color:rgba(0,0,0,0.1);
  font-family: Impact;
margin: 0;
padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
overflow: hidden;
  background-color: #333;
  border-radius:5px;
  margin-bottom:60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.Search{
  float: right;
  padding: 6px;
  margin-top: 15px;
  margin-right: 40px;
  border: none;
  font-size: 17px;

}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color:#f2f3f4;
    padding-left: 20px;
}
.row:after {
content: "";
display: table;
clear: both;
}
.card {
  background-color: #f2f3f4;
  padding: 20px;
  margin-top: 20px;
    border-radius: 10px;
    height:300px;
    width:53%;
}

iframe{
  height: 300px;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 30px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  -moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
}
